@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-Regular.woff2") format("woff2"), url("OpenSans-Regular.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans";
	src: url("OpenSans-Bold.woff2") format("woff2"), url("OpenSans-Bold.woff") format("woff");
	font-weight: 700;
}
body {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 1.2rem;
	line-height: 1.5;

	color: #333;
	background: linear-gradient(135deg, rgba(180, 215, 255, 0) 50%, rgba(180, 215, 255, 0.3) 50%),
		linear-gradient(225deg, rgba(180, 215, 255, 0) 50%, rgba(180, 215, 255, 0.3) 50%);
}
main {
	background-color: #f5f5f5;
	max-width: 800px;
	margin: 0 auto;
	padding: 0.4rem 1rem;
	border-radius: 10px;
}
.parent {
	display: flex;
	justify-content: center;
}
aside {
	padding: 0.4rem 1rem;
}
